<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Ethics & Social Media International Research Workshop 

 </title>

    <!-- Bootstrap Core CSS -->
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">Ethics & Social Media<br>International Research Workshop</div>
    <div class="address-bar"><strong>16th May 2017</strong><br>PSB Paris School of Business</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">ParisBD 2016</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/index">Home</a>
                    </li>
                    <li>
                        <a href="/call">Call for Submissions</a>
                    </li>
                    <li>
                        <a href="/program">Program</a>
                    </li>
                    <li>
                        <a href="/location">Location</a>
                    </li>
                    <li>
                        <a href="/registration">Registration</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">


        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Registration</h2>
                    <hr>
			<p><center>{{lastname}} {{firstname}} is registered<p></h3>
                    <hr class="visible-xs">

                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr>
                    <h2 class="intro-text text-center">Sponsors</h2>
                    <hr>
                  <a href="http://www.psbedu.paris/fr">
                    <img src="img/PSB.jpg" class="logo" alt="Chaire Digital Data Design">
                  </a>
                  <a href="https://www.telecom-paristech.fr/">
                    <img src="img/TP.jpg"
                    class="logo" alt="Chaire Big Data & Market Insigths">
                  </a>
                  <a href="http://www.telecom-em.eu/">
                    <img src="img/TM.jpg"
                    class="logo" alt="Télécom Ecole de management">
                  </a>

                  <p
                     about='img/bg.jpg'>
                    <a
                      rel="dc:source"
                      href='https://www.flickr.com/photos/aigle_dore/5238554034/in/photolist-8YUXB9-vJgrnY-A76PAg-JfXHLW-p2AbCP-FPdcXL-B48Bdp-wHi82j-zkD9EE-qDRf6Q-pY4p5R-onwWCz-t9XcUd-gJDEzd-EanqCn-p6wHar-bmpjuP-4i8uYF-pMwq69-pNGjy6-eVgxwV-eRBwQi-eTwPtm-eVZuFa-eccz3Z-eSyr2r-9WVLoY-frU8Zn-bu1jom-uW4EyK-Fe4va9-KHS54A-LUoqzD-g1HcYR-ebXC1r-Lr7Mfr-LoQHC9-LySiTd-LFfrQe-aX8Zap-Lx7J7m-j9rJ2X-bsREAe-aqXCi3-8nYZfd-4eEozw-gFCBwv-qt7DMW-5eM21e-8YUY8j/'>Background image
                    </a>
                    <a rel='license'
                     href='http://creativecommons.org/licenses/by-nc-nd/2.0/'>
                      <img src='http://i.creativecommons.org/l/by-nc-nd/2.0/80x15.png'
                           alt='Creative Commons Attribution-NonCommercial-NoDerivs 2.0 Generic License'
                           title='Creative Commons Attribution-NonCommercial-NoDerivs 2.0 Generic License'>
                    </a>
                    &nbsp;by&nbsp;
                   <a
                     prefix="cc: http://creativecommons.org/ns#"
                     rel='cc:attributionURL'
                     property='cc:attributionName'
                     href='https://www.flickr.com/photos/aigle_dore/'>Moyan Brenn
		</a>
                  </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="./js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>

